section#project .modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: grid;
  grid-auto-rows: 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f4f4f4;
  margin: 15% auto;
  /* max-width: 1170px;
  min-width: 980px;
  max-height: 450px; */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.7s;
}

.modal-content img {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1/3;
}

.modal-content .modal-header {
  grid-row: 1/2;
  grid-column: 1/3;
  /* justify-items: start; */
}

.modal-content .modal-header .closeBtn {
  float: right;
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.modal-content .modal-body h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.modal-content .modal-body .project-skills {
  font-size: 1.3rem;
  padding: 2rem 0;
}

.modal-content .modal-body .project-content {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.modal-content .modal-body .project-btn {
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 50px;
  font-size: 1.2rem;  
  margin: 1rem 1rem;
  line-height: 50px;
  letter-spacing: .1rem;
}

.modal-content .modal-body .project-btn:nth-child(4) {
  background-color: #333;
  color: white;
}

.modal-content .modal-body .project-btn:nth-child(5) {
  background-color: #c4c4c4;
  color: #333;
}

.modal-content .modal-body .project-btn:nth-child(4):hover {
  background-color: rgb(224, 224, 14);
  color: #333;
}

.modal-content .modal-body .project-btn:nth-child(5):hover {
  background-color: coral;
  color: #333;
}

/* Modal Animation */
@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media (max-width: 575.98px) {
  .modal-content {
    margin: 20% auto;
    grid-auto-rows: 256px 1fr;
    grid-template-columns: repeat(2, 1fr);
    /* width: 720px; */
    width: 95%;
    /* max-width: 900px;
    min-width: 980px; */
    min-height: 450px;
  }
  .modal-content img {
    /* width: 100%;
    height: 100%; */
    max-height: 256px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .modal-content .modal-header {
    grid-row: 1;
    grid-column: 1/3;
    z-index: 2001;
    /* justify-items: start; */
  }
  .modal-content .modal-header .closeBtn {
    color: white;
    font-size: 4rem;
  }
  .modal-content .modal-body {
    grid-column: 1/3;
    grid-row: 2;
  }
  .modal-content .modal-body h2 {
    font-size: 1.5rem;
    margin: .8rem 0;
  }
  .modal-content .modal-body .project-skills {
    padding: 0;
    font-size: 1rem;
  }
  .modal-content .modal-body .project-content {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .modal-content .modal-body .project-btn {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    margin: 0;
    line-height: 50px;
    letter-spacing: .1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-content {
    margin: 20% auto;
    grid-auto-rows: 400px 1fr;
    grid-template-columns: repeat(2, 1fr);
    /* width: 720px; */
    width: 95%;
    /* max-width: 900px;
    min-width: 980px; */
    min-height: 450px;
  }
  .modal-content img {
    /* width: 100%;
    height: 100%; */
    max-height: 400px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .modal-content .modal-header {
    grid-row: 1;
    grid-column: 1/3;
    z-index: 2001;
    /* justify-items: start; */
  }
  .modal-content .modal-header .closeBtn {
    color: white;
    font-size: 3.5rem;
  }
  .modal-content .modal-body {
    grid-column: 1/3;
    grid-row: 2;
  }
  .modal-content .modal-body h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .modal-content .modal-body .project-skills {
    font-size: 1.1rem;
    padding: 0;
  }

  .modal-content .modal-body .project-content {
    font-size: 1.1rem;
    padding: 0;
  }
  .modal-content .modal-body .project-btn {
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    margin: 1rem 1rem;
    line-height: 50px;
    letter-spacing: .1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .modal-content {
    margin: 30% auto;
    /* width: 720px; */
    width: 95%;
    /* max-width: 900px;
    min-width: 980px; */
    min-height: 450px;
  }
  .modal-content .modal-header .closeBtn {
    font-size: 2.5rem;
  }
  .modal-content img {
    /* width: 100%; */
    /* max-height: 550px; */
  }

  .modal .modal-content .modal-body p {
    padding: .5rem 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal-content {
    margin: 30% auto;
    /* width: 920px; */
    width: 95%;
    /* max-width: 900px;
    min-width: 980px; */
    min-height: 520px;
  }
  .modal .modal-content .modal-body p {
    padding: 1.2rem 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .modal-content {
    margin: 25% auto;
    max-width: 1150px;
    min-width: 980px;
    max-height: 550px;
  }
  .modal-content img {
    max-height: 550px;
  }

  /* #project-modal-5 .modal-content .modal-body p {
    padding: 2rem 1rem;
  } */
}

@media (min-width: 1600px) and (max-width: 1999.98px) {
  .modal-content {
    max-width: 1170px;
    min-width: 980px;
    max-height: 500px;
  }
  .modal-content img {
    max-height: 500px;
  }
}

@media (min-width: 2000px) {
  .modal-content {
    max-width: 1170px;
    min-width: 980px;
    max-height: 500px;
  }
  .modal-content img {
    max-height: 500px;
  }
}